.env
__pycache__
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
*.egg
*.whl
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
.venv/
*.env
*.env.*
*.DS_Store
*.idea
*.vscode
*.ipynb_checkpoints
*.coverage.*
credentials.json

# Coverage reports
htmlcov/
coverage.xml
.coverage

# uv
.python-version