name: Deploy to Production

on:
  release:
    types: [published]
  workflow_dispatch:
      inputs:
        reason:
          description: 'Reason for manual trigger'
          required: true
          default: 'Minor production release'
jobs:
  deploy:
    runs-on: self-hosted
    env:
      DEBUG: ${{ secrets.DEBUG }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
      ALLOWED_CORS: ${{ secrets.ALLOWED_CORS }}
      DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
      MAIL_HOST: ${{ secrets.MAIL_HOST }}
      MAIL_PORT: ${{ secrets.MAIL_PORT }}
      MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
      MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_ACCESS_SECRET: ${{ secrets.AWS_ACCESS_SECRET }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}

    steps:
      - uses: actions/checkout@v4

      - run: |
          docker-compose down --volumes --remove-orphans || true
          docker system prune -f || true

      - run: |
          DEBUG=${DEBUG} \
          SECRET_KEY=${SECRET_KEY} \
          ALLOWED_HOSTS=${ALLOWED_HOSTS} \
          ALLOWED_CORS=${ALLOWED_CORS} \
          DATABASE_NAME=${DATABASE_NAME} \
          DATABASE_PASSWORD=${DATABASE_PASSWORD} \
          DATABASE_USERNAME=${DATABASE_USERNAME} \
          DATABASE_HOST=${DATABASE_HOST} \
          DATABASE_PORT=${DATABASE_PORT} \
          MAIL_HOST=${MAIL_HOST} \
          MAIL_PORT=${MAIL_PORT} \
          MAIL_USERNAME=${MAIL_USERNAME} \
          MAIL_PASSWORD=${MAIL_PASSWORD} \
          AWS_ACCESS_KEY=${AWS_ACCESS_KEY} \
          AWS_ACCESS_SECRET=${AWS_ACCESS_SECRET} \
          AWS_REGION=${AWS_REGION} \
          AWS_BUCKET_NAME=${AWS_BUCKET_NAME} \
          docker-compose up --build -d